<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <ul>

    <% for(let user of data){ %>
      <li>
        <img src="<%=user.userPhoto %>" alt="" width="250" height="250">

        <h1>
          <%=user.username %>
        </h1>

        <p><%=user.phoneNumber %></p>
      </li>
    <% } %>

  </ul>

</body>
</html>