<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Uybor Clone</title>
</head>
<body>
  
  <form method="POST" action="http://172.16.2.217:4000/upload" enctype="multipart/form-data">
    <input type="text" name="fullName">
    <input type="number" name="phoneNumber">

    <input type="file" name="userPhoto" >
    <button>Upload</button>
  </form>

</body>
</html>